.primary-button {
  width: auto;
  height: 40px;
  background-color: $primaryGreen;
  color: $whitePrincipal;
  border: solid;
  border-color: $primaryGreen;
  float: right;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: $whitePrincipal;
    color: $primaryGreen;
    border: solid;
    border-color: $primaryGreen;
  }
}

.warning-button {
  width: auto;
  height: 40px;
  background-color: $primaryYellow;
  color: $primaryBlue;
  border: solid;
  border-color: $primaryYellow;
  float: right;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: $whitePrincipal;
    color: $primaryBlue;
    border: solid;
    border-color: $primaryYellow;
  }
}

.link-button {
  width: auto;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: $primaryBlue;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  
  &:hover{
    text-decoration: underline;
  }
}