.menu-button {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  height: 40px;
  width: auto;
  background-color: $primaryBlue;
  color: $whitePrincipal;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border: 2px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;

  svg {
    color: $whitePrincipal;
    margin-left: 10px;
  }

  &:hover {
    background-color: $whitePrincipal;
    color: $primaryBlue;
    border-color: $primaryBlue;
    border-style: solid;
  
    svg {
      color: $primaryBlue;
    }
  }
}

.menu-button-selected {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  height: 40px;
  width: auto;
  background-color: $whitePrincipal;
  color: $primaryGreen;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border: 2px;
  border-radius: 5px;
  border-color: $primaryGreen;
  border-style: solid;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;

  svg {
    color: $primaryGreen;
    margin-left: 10px;
    rotate: 180deg;
  }

}

.menu-items-container {
  width: 200px; 
  height: auto; 
  position: absolute; 
  top: 50px; 
  right: 15px; 
  background-color: $whitePrincipal;
  border-style: solid;
  border-color: $primaryBlue;
  border-width: 1px;
}

.item-container-options {
  display: contents;
}
