.ayala-menu-bar {
  background-color: $whitePrincipal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;

  .company-icon {
    width: 120px;
    height: 35px;
    margin-left: 35px;
    margin-top: 11px;
  }
}
