.main-container {
    background-color: $primaryBeige;
    position: fixed;
    top: 8vh;
    width: 100%;
    height: 92vh;
    transition: 1s;
    padding-left: 200px;
    padding-right: 2%;
    overflow-y: scroll;
}