table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 80vw;
  border: solid $primaryBlue 1px;
}

.table-header {
  text-align: center;
  background-color: $primaryBlue;
  color: $whitePrincipal;
}

.table-data-container {
    padding-top: 30px;
}

.additional-information-container {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}
