.left-bar-item {
    background-color: $primaryBlue;
    color: white; 
    width: 200px;
    height: 50px;
    align-content: center;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    padding-left: 5px;
    display: block;
    transition: 1s;
}

.left-bar-item-collapsed {
    background-color: $primaryBlue;
    color: white; 
    width: 60px;
    height: 50px;
    align-content: center;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    padding-left: 5px;
    display: block;
    transition: 1s;
}

a:hover {
    background-color: $whitePrincipal;
    color: $primaryGreen;
}

.icon-non-collapsed {
    margin: 0px 15px 5px 0px;
}

.icon-collapsed {
    margin: 0px 0px 5px 15px;
}